body {
  font-size: 1.2em;
  margin: 0;
}

.layout {
  margin: 0px 10px 0px 10px;
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.category-name {
  color: red;
}

.ui-tabs {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
  font-style: italic;
}

.active-tab {
  font-weight: bold;
  color: blue;
}
